<md-sidenav-layout>
  <md-sidenav #sidenav mode="over" class="app-sidenav">
    Sidenav
  </md-sidenav>
  <md-toolbar color="primary">
    <button class="app-icon-button" (click)="sidenav.toggle()">
      <i class="material-icons app-toolbar-menu">menu</i>
    </button>
    {{title}}
    <span class="app-toolbar-filler"></span>
    <span>
       <button md-icon-button>
          <md-icon>account_box</md-icon>
       </button>
     </span>
  </md-toolbar>

  <router-outlet>
    <div class="app-content">
      <md-list>
        <md-list-item *ngFor="let motor of motors">
          <span (click)="onSelect(motor)">{{motor.modell}}</span>
        </md-list-item>
      </md-list>
    </div>
  </router-outlet>
</md-sidenav-layout>
